
/* มูนไนท์ ภาพตัดเฟี้ยวๆ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        45deg, #090a10 40%, #161b24
    );
}

.glitch {
    width: 300px;
    height: 340px;
    background: url('../img/moon-knight-cherecter.png');
    background-size: cover;
    animation: glitch 3.5s infinite steps(1)
}
@keyframes glitch {
    0% , 100% {
        background: url('../img/moon-knight-cherecter.png');
        background-size: cover;
    }

    92.5% {
        background: url('../img/glitch-image-1660812506.png');
        background-size: cover;
        opacity: 1;
    }

    95% {
        background: url('../img/glitch-image-1660812508.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('../img/glitch-image-1660812510.png');
        background-size: cover;
        opacity: 1;
    }
}
