
/* div {
    width: 300px;
    height: 300px;
    border: 5px solid green;
    background-color: red;
} */


/* body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
} */

/* div {
    width: 300px;
    height: 500px;
    background-image: url(../img/60dqlv.png);
    background-repeat: no-repeat;
    background-color: red;
    background-size: cover;
    background-position: 50% 50%;
} */



/* เรื่อง border */


    /*  dotted - Defines a dotted border
        dashed - Defines a dashed border
        solid - Defines a solid border
        double = Defines a double border
        groove - Defines a 3D grooved border. The effect depedns on the border-color value
        ridge - Dfines a 3D ridge border. The effect deoends on the border-color value
        inset - Defines a 3D inset border. The effect depends on the border-color value
        outset - Defines a 3D outset border. The effect depens on the border-color value
        none - Defines no border
        hidden - Defines a hidden border 
    */
    

    /* div
    {
        width: 300px;
        height: 300px;
        border: 5px outset purple;
    } */

    /* Box model */

/* 
    div{
        width: 100px;
        height: 100px;
        background-color: black;
        border: 3px solid green;
        color: white;

        margin-top: ;
        margin-bottom: ;
        margin-left: ;
        margin:  0 0 0 0;
        margin:  10px 20px 10px;
        margin: 0 auto;

        padding-top: ;
        padding-right: ;
        padding-bottom: ;
        padding-left: ;
        padding:  0 0 0 0;
        padding: 0 auto;
    } */


/* div {
    background-color:  green; 
    display: inline;

}

span {
    background-color: blue;
    display: block;
    width: 100;
} */



/* มูนไนท์ ภาพตัดเฟี้ยวๆ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        45deg, #090a10 40%, #161b24
    );
}

.glitch {
    width: 300px;
    height: 340px;
    background: url('../img/moon-knight-cherecter.png');
    background-size: cover;
    animation: glitch 3.5s infinite steps(1)
}
@keyframes glitch {
    0% , 100% {
        background: url('../img/moon-knight-cherecter.png');
        background-size: cover;
    }

    92.5% {
        background: url('../img/glitch-image-1660812506.png');
        background-size: cover;
        opacity: 1;
    }

    95% {
        background: url('../img/glitch-image-1660812508.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('../img/glitch-image-1660812510.png');
        background-size: cover;
        opacity: 1;
    }
}
